<ul class="nav">
  <li>
    <%= link_to "List Share", root_path, :class => 'brand' %>
  </li>
</ul>

<div class='nav-item'>
  <%= link_to 'Register', register_path, class: 'btn btn-success btn-small' %>
</div>


